{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
